<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo Detail</title>
        <style>
        *{
            font-family: "Tahoma";
        }
    </style>
</head>
<body>
    {% if photo %}
        <h2>Photo Detail</h2>
        <img src="{{ photo.image.url }}" alt="{{ photo.caption }}">
        <p>Caption: {{ photo.caption }}</p>
        <p>Created At: {{ photo.created_at }}</p>
    {% endif %}

    <h1><a href="{% url 'main' %}">Добавить фото</a></h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>
