{% extends 'web/base_note.html' %}

{% block content %}
    {% if not user.is_anonymous %}
        <h1><a href="{% url 'main' %}">Создать заметку</a></h1>
        <hr>
        <form method="post" action="{% url 'create_note' %}">
            {% csrf_token %}

            <!-- Fields for adding a note -->
            <label for="id_title">Название заметки:</label>
            <input type="text" name="title" id="id_title" class="form-control" value="{{ note_form.instance.title|default:'' }}">

            <label for="id_content">Содержимое:</label>
            <textarea name="content" id="id_content" class="form-control">{{ note_form.instance.content|default:'' }}</textarea>

            <label for="id_category">Выберите категорию:</label>
            <select name="category" id="id_category" class="form-control">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.category_type }}</option>
                {% endfor %}
            </select>

            <button type="submit" name="add_note" class="btn btn-primary">Сохранить заметку</button>

            <!-- Additional button for creating a new category -->
            <div style="margin-top: 10px;">
                <button type="submit" name="add_category" class="btn btn-secondary">Создать новую категорию</button>
            </div>
        </form>

        <h2>All Notes</h2>
        <form action="">
            <b>Фильтры</b>
            {% for field in filter_form %}
                {{ field }}
            {% endfor %}
            <button>Найти</button>
        </form>
        <ul>
            {% for note in notes %}
                <li>
                    <strong>{{ note.title }}</strong><br>
                    {{ note.content }}<br>
                    <div class="btn-group">
                        <form method="post" action="{% url 'edit_note' note.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info">Изменить</button>
                        </form>
                        <form method="post" action="{% url 'delete_note' note.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="pagination">
            <span class="step-links">
                {% if notes.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ notes.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Страница {{ notes.number }} из {{ notes.paginator.num_pages }}.
                </span>

                {% if notes.has_next %}
                    <a href="?page={{ notes.next_page_number }}">next</a>
                    <a href="?page={{ notes.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
