{% extends 'web/base_note.html' %}

{% block title %}Edit Note{% endblock %}

{% block content %}
    {% if not user.is_anonymous %}
        <h2>Edit Note</h2>
        <hr>
        <form method="post" action="">
            {% csrf_token %}

            <label for="id_title">Название заметки:</label>
            <input type="text" name="title" id="id_title" class="form-control" value="{{ note_instance.title|default:'' }}" required>

            <label for="id_content">Содержимое:</label>
            <textarea name="content" id="id_content" class="form-control" required>{{ note_instance.content|default:'' }}</textarea>

            <button type="submit">Сохранить изменения</button>
        </form>
    {% endif %}
{% endblock %}
